<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- <section name="monoSettings" type="DataSetSectionHandler,SectionHandlers" /> -->
  </configSections>
  <appSettings>
  </appSettings>
  <system.web>
    <!-- <monoSettings verificationCompatibility="1" /> -->
    <customErrors mode="Off" />
    <globalization culture="en-US" />
    <compilation debug="true" targetFramework="4.6">
    </compilation>
  </system.web>
</configuration>